body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em;
  font-weight: 520;
  background-color: grey;
}

.contorno {
    flex-wrap: wrap;
  overflow: hidden;
  background-color: white;
  margin: 20px;
  width: 500px;
  height: 780px;
  border: 1px solid gainsboro;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
}

.contorno img {
  width: 500px;
  height: 333px;
  background-color: gainsboro;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
}

.contorno .numbered-items {
  border-bottom: 1px solid gainsboro;
}

.contorno p,
a,
header {
  padding-left: 30px;
  padding-right: 60px;
}

.contorno a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-links {
  display: flex;
}

.card-links a {
  color: rgb(0, 119, 255);
}

a[href="#"]{
    position: relative;
    right: 50px;
}
